ConnectionStrings__DefaultConnection='Host=aws-0-ap-northeast-2.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.ardvtdirwjlivkmczzuu;Password=THAY_MAT_KHAU_TAI_DAY;SSL Mode=Require'
